body {
    margin: 0;
    background-color: pink;
    font-family: Arial, sans-serif;
    display: flex;
}

nav.sidebar {
    width: 15%;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
}

.sidebar h1 {
    margin: 0;
    font-size: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    transition: color 0.2s ease;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.2s ease;
}

.sidebar ul li a:hover {
    color: gray;
}

.content {
    margin-left: 20%;
    padding: 20px;
    width: 80%;
}

.container {
    display: none; /* Esconde todas as páginas por padrão */
    padding-top: 50px;
    position: relative; /* Para posicionar os botões corretamente */
}

.container.active {
    display: block; /* Mostra a página ativa */
}

.container h2 {
    margin-bottom: 10px;
}

.note-controls {
    position: absolute;
    top: 10px;
    right: 10px;
}

.note-controls button {
    background-color: #f06292;
    border: none;
    padding: 10px;
    color: white;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.note-controls button:hover {
    background-color: #d04877;
}

.notes-wrapper {
    display: flex;
    flex-wrap: wrap; /* Permite que as notas quebrem a linha */
    margin-top: 50px; /* Ajuste para não sobrepor os botões de controle */
}

.note {
    background-color: rgb(236, 153, 167);
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    margin: 10px;
    display: inline-block; /* Posiciona as notas lado a lado */
    vertical-align: top;
    transition: background-color 0.5s ease;
}

.note:hover {
    background-color: #fb788e;
    color: white;
}

.notetitle {
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
}

.notedescription {
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    height: 100px;
}

.notetitle::placeholder,
.notedescription::placeholder {
    color: #ffffff;
}