body {
    background-color: pink;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: white;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
}

.container {
    position: fixed;
    background-color: rgb(255, 214, 221);
    border-radius: 20px;
    top: 3%;
    left: 21.5%;
    right: 1.5%;
    height: 95%;
}

.container li {
    list-style: none;
}

.note {
    position: fixed;
    background-color: pink;
    left: 23%;
    border-radius: 10px;
    padding: 15px;
    width: calc(25% - 20px);
    min-width: 250px;
    transition: background-color 0.5s ease;
}

.note:hover {
    background-color: rgb(251, 120, 142);
    color: white;
}

.notetitle {
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
}

.notedescription {
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    height: 100px;
}

.notetitle::placeholder,
.notedescription::placeholder {
    color: #ffffff;
}