body {
    margin: 0;
    background-color: pink;
    font-family: Arial, sans-serif;
    display: flex;
}

nav.sidebar {
    width: 15%;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
}

nav.sidebar h1 {
    margin: 0;
    font-size: 36px; /* Aumenta o tamanho da fonte para o título da sidebar */
    font-weight: bold;
    color: #f06292; /* Cor escura para o título */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #666; /* Cor cinza mais clara para os nomes das páginas */
    font-size: 18px; /* Ajusta o tamanho da fonte */
    font-weight: 500; /* Aumenta um pouco o peso da fonte para um efeito mais destacado */
    transition: all 0.3s ease; /* Transição suave para a mudança de cor e tamanho ao passar o mouse */
    display: inline-block; /* Garante que a transformação de escala funcione corretamente */
}

.sidebar ul li a:hover {
    color: #f06292; /* Muda a cor ao passar o mouse para uma cor mais vibrante */
    transform: scale(1.1); /* Aumenta o tamanho do texto ao passar o mouse */
}

nav button {
    background-color: #f06292;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: #d04877;
    transform: scale(1.1);
}

.content {
    margin-left: 20%;
    padding: 20px;
    width: 80%;
}

.container {
    display: none; /* Esconde todas as páginas por padrão */
    padding-top: 50px;
    position: relative; /* Para posicionar os botões corretamente */
}

.container.active {
    display: block; /* Mostra a página ativa */
}

.container h2 {
    margin: 0;
    margin-top: -35px;
    font-size: 28px; /* Aumenta o tamanho da fonte para os títulos das páginas */
    font-weight: bold;
    color: #f06292; /* Cor rosa para destacar os títulos das páginas */
    padding-bottom: 10px; /* Espaçamento inferior para separação */
}

.note-controls {
    position: absolute;
    top: 10px;
    right: 10px;
}

.note-controls button {
    background-color: white;
    border: none;
    padding: 10px;
    color: #f06292;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.note-controls button:hover {
    background-color: rgb(239, 239, 239);
    transform: scale(1.1);
}

.notes-wrapper {
    display: flex;
    flex-wrap: wrap; /* Permite que as notas quebrem a linha */
    margin-left: -10px;
    margin-top: 5px; /* Ajuste para não sobrepor os botões de controle */
}

.note {
    background-color: #f06292;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    margin: 10px;
    display: inline-block; /* Posiciona as notas lado a lado */
    vertical-align: top;
    box-shadow: 0 2px 5px #d24a7a; /* Sombra da nota */
    transition: all 0.3s ease;
}

.note:hover {
    background-color: #d04877;
    transform: scale(1.1);
    box-shadow: 0 30px 50px #d24a7a; /* Sombra da nota */
}

.notetitle {
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
}

.notedescription {
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    height: 100px;
}

.notetitle::placeholder,
.notedescription::placeholder {
    color: #ffffff;
}